# Exploring Air Force personnel data

In this code-along, we'll explore a US Department of Defense personnel demographics dataset. The publicly available dataset was taken [from data.gov](https://catalog.data.gov/dataset/personnel-trends-by-gender-race), and has been cleaned and tidied, so you can get straight into exploratory data analysis.

The dataset contains counts of military personnel by gender, race, and paygrade. It was compiled in March 2010.

We'll do the first few tasks together, then you can try some tasks yourself.

## 1: Import the packages

Today, we'll be using `pandas` for data manipulation and calculations, and `plotly.express` for visualization.

- Import the `pandas` package using the alias `pd`.
- Import the `plotly.express` package using the alias `px`.

In [ ]:
# Import the pandas package


# Import the plotly express package

## 2: Read in the dataset

The demographics dataset is contained in a CSV file named `"data/dod_demographics.csv"`.

- Use `pandas` to read this CSV file. Assign it to a variable named `dod_demographics`.

In [ ]:
# Import the demographic data from "data/dod_demographics.csv"
dod_demographics = 

# See the result
dod_demographics

The dataset has 6 columns.

- **service**: Army, Navy, Marine Corps, Air Force, Coast Guard. (Space Force didn't exist when the dataset was compiled.)
- **gender**: MALE or FEMALE.
- **race**: AMI/ALN, ASIAN, BLACK, MULTI, P/I, WHITE, UNK.
- **hispanicity**: HISP, NON-HISP.
- **paygrade**: Enlisted grades E00 to E09, Warrant Officer greades W01 to W05, Officer grades O01 to O10.
- **count**: number of personnel in that demographic.

## 3: Get the subset with the Air Force dataset

The dataset contains data for all the services, but we only want to analyze the Air Force data.

- Query `dod_demographics` for rows where the `service` is equal to `"Air Force"`. Assign to `air_force`.

In [ ]:
# Query dod_demographics for rows in the "Air Force" service
air_force = 

# See the results
air_force

## 4: Start exploring! How much data do we have?

We're ready to start asking some questions about the dataset. A good way to start exploring data is to ask how much data you have for different groups. Let's calculate the personnel count by gender.

- Group `air_force` by `"gender"` and calculate the sum of the `"count"`s.

In [ ]:
# Group air_force by gender and calculate the total count

Let's visualize these total counts using a bar plot. Plotly prefers to have all variables in the plot as columns in the dataframe, so we need an additional step of reseting the index.

- Copy and paste the previous code, then reset the index and assign to `total_counts_by_gender`.

In [ ]:
# Redo the previous analysis, then reset the index.
total_counts_by_gender = 

# See the result
total_counts_by_gender

- Using `total_counts_by_gender`, draw a bar plot of `count` versus `gender`.

In [ ]:
# Using total_counts_by_gender, draw a bar plot of count versus gender

Bar plots work with vertical or horizontal bars (and often horizontal bars make the plot easier to read). Try swapping the x- and y-axes on the previous plot.

- Redraw the previous plot with the x- and y-axes swapped.

In [ ]:
# Redraw the previous plot with the axes swapped

## 5: Your turn! How much data do we have by race?

See if you can repeat the total count analysis, this time breaking down the data by race.

- Calculate the total count of personnel by race.
- Draw a bar plot of the counts by race.

In [ ]:
# Calculate the total count of personnel by race
total_counts_by_race = 
    

# Draw a bar plot of the counts by race

- Optional bonus task: the bar plot is easier to read if the bars are shown in order from longest to shortest. Sort the values of the counts and redraw the plot.

In [ ]:
# Sort the counts from largest to smallest and redraw the bar plot

## 6: Exploring the highest paygrades by group

Let's take a look at the highest paygrades of personnel for different groups. These questions are easiest to answer if we first sort the dataset by the values of paygrade, then filter the dataset for rows where the count is positive.

- Sort `air_force` by the values of `paygrade`.
- Query for rows where the count is greater than zero.
- Assign the result with no zero counts to `airforce_nz`.

In [ ]:
# Sort air_force by the values of paygrade, and query for positive counts
air_force_nz =

Now we can start answering questions. Let's find what the highest paygrade a female had. Since the dataset is sorted by paygrade, it's the last row of the dataset containing females.

- Using `airforce_nz`, query for rows where `gender` is equal to `"FEMALE"`.
- Get the "tail" (last row) of the results.

In [ ]:
# Find the row with the female with the highest paygrade

Your turn. What is the highest paygrade that anyone hispanic had?

In [ ]:
# Find the row with the hispanic with the highest paygrade

## 7: What's the distribution of paygrades?

Let's take a look at the distribution of paygrades. This time, it's easier to visualize using a line plot.

- Calculate the total count by paygrade. Assign to `total_counts_by_paygrade`.
- Using `total_counts_by_paygrade`, draw a line plot of `count` versus `paygrade`.

In [ ]:
# Calculate the total count by paygrade
total_counts_by_paygrade = 

# Draw a line plot of count vs. paygrade